@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@tailwind utilities;

@layer components {
    .white-key {
        @apply rounded-md h-80 w-14 bg-zinc-50 outline-1 outline-zinc-900 -outline-offset-1;
    }
    .black-key-frame {
        @apply h-55 w-8 mr-6
    }
    .black-key {
        @apply bg-zinc-900 rounded-md h-55 w-8 mr-6 outline-1 outline-zinc-800 -outline-offset-1;
    }
    .active {
        @apply brightness-60 translate-y-2;
    }

    .note-list {
        @apply max-h-14 overflow-x-hidden overflow-y-auto max-w-4/5 h-14
    }
    .chord-list {
        @apply max-h-28 overflow-x-hidden overflow-y-auto max-w-4/5 h-28
    }

    .switch {
        @apply relative w-10 h-5 inline-block
    }
    .switch input {
        @apply opacity-0 w-0 h-0
    }
    .slider {
        @apply absolute cursor-pointer bg-zinc-400 rounded-full top-0 left-0 right-0 bottom-0 duration-400
    }
    .slider::before {
        content: "";
        @apply absolute h-4 w-4 left-0.5 bottom-0.5 bg-white rounded-full duration-400
    }
    input:checked + .slider {
        @apply bg-emerald-500
    }
    input:checked + .slider::before {
        @apply translate-x-5
    }
}